---
import "../styles.css"
import Navbar from "../components/Navbar";
import "../components/contactme.css"
import Cards from "../components/Cards"
---
<html>
<head>
<title>Contact Me</title>
</head>
<body>
  <Navbar client:only />
  <div class="allSocialDiv"  >
    <br style="margin-top: 50px"   />
    <h1 class="contactMeTitle"> 
      <br/>
      <br/>
      <span class="emailSvg text-contactMe  "  >C</span>
        <span class="emailSvg text-contactMe  "  >o</span>
        <span class="emailSvg text-contactMe  "  >n</span>
        <span class="emailSvg text-contactMe  "  >t</span>
        <span class="emailSvg text-contactMe  "  >a</span>
        <span class="emailSvg text-contactMe  "  >c</span>
        <span class="emailSvg text-contactMe  "  >t</span>
        <br />
        <span class="emailSvg text-contactMe  "  >  M</span>
       <span class="emailSvg text-contactMe  "  >e</span> </h1>
       
    <Cards />
  </div>
  <footer>
    Wanna see Magic? Hover on any text or icons in the screen
  </footer>
</body>
</html>
