---
import "../styles.css"
import Navbar from "../components/Navbar";
import "../components/contactme.css"
import Cards from "../components/Cards"
---
<html>
<head>
<title>Contact Me</title>
</head>
<body>
  <Navbar client:only />
  <div>
    <br style="margin-top: 50px"   />
    <h1 class="contactMeTitle"> 
      <span class="emailSvg"  >C</span>
        <span class="emailSvg"  >o</span>
        <span class="emailSvg"  >n</span>
        <span class="emailSvg"  >t</span>
        <span class="emailSvg"  >a</span>
        <span class="emailSvg"  >c</span>
        <span class="emailSvg"  >t</span>
       <span class="emailSvg"  > &nbsp; </span>
        <span class="emailSvg"  >M</span>
       <span class="emailSvg"  >e</span> </h1>
    <Cards />
  </div>
  <footer>
    Wanna see Magic? Hover on any text or icons in the screen
  </footer>
</body>
</html>
