---
import "../styles.css"
import Navbar from "../components/Navbar";
import "../components/contactme.css"
import Cards from "../components/Cards"
import Github from "../components/github"
---
<html>
<head>
<title>Contact Me</title>
</head>
<body>
  <Navbar client:only />
  <div class="allSocialDiv"  >
    <br style="margin-top: 50px"   />
    <h1 class="contactMeTitle"> 
      <br/>
      <br/>
      <span class=" text-contactMe  "  >C</span>
      <span class=" text-contactMe  "  >o</span>
        <span class=" text-contactMe  "  >n</span>
        <span class=" text-contactMe  "  >t</span>
        <span class=" text-contactMe  "  >a</span>
        <span class=" text-contactMe  "  >c</span>
        <span class=" text-contactMe  "  >t</span>
        <span class=" text-contactMe  "  > &nbsp;  </span>
        
        <span class=" text-contactMe  "  >  M</span>
        <span class=" text-contactMe  "  >e</span> </h1>
        
        
        <Cards />
      </div>
      <br />
      <br />
      <Github client:visible  />
      <footer>
        Wanna see Magic? Hover on any text or icons in the screen
      </footer>
    </body>
</html>
