---
import "../styles.css"
import Navbar from "../components/Navbar"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ayush Mehrotra PortFolio</title>
	</head>
	<script>
		if (window.innerWidth <= 768 && window.innerHeight <= 1024) {
 alert("Looks Better In Desktop")
} 
	</script>
	<body>
		<Navbar client:only  />
		<br/>
		<br/>
		<div class="about">
			<h1 style="font-size: 60px; margin:20px; color:lightgrey  "  >About Me</h1>
			<br/>
			<br />
			<p class="aboutMe"  >
			<div class="glow" ></div>
				I am a software engineer specialized in JavaScript and its 
				frameworks. In addition i posses strong problem-solving skills, 
				I prioritize regularly dive into new tech and read some research papers published
				 by tech companies such as Meta,Google or OPENAI.
			</p>
		  </div>

			<!-- Tech Stack Section Start -->
			<hr   />
			<br />
			<center><h1 class="techstack-title" style="font-size: 60px; color:lightgrey">TECH STACK</h1></center>
			<section class="techStack">
				<br />
				<button class="btn fill" style="background-color: rgb(228, 77, 38);   ">HTML</button>
				<button class="btn fill" style="background-color: rgb(33, 76, 229);">CSS</button>
				<button class="btn fill" style="background-color: #F0DC55">JavaScript</button>
				<button class="btn fill" style="background-color:#8118FA">Bootstrap</button>
				<button class="btn fill" style="background-color: #3EAFB0;">Tailwind</button>
				<button class="btn fill" style="background-color:#8FC708">Nodejs</button>
				<button class="btn fill" style="background-color: #00D8FF">React</button>
				<button class="btn fill" style="background-color: #08EE69">MongoDB</button>
				<button class="btn fill" style="background-color: #292525;">Expressjs</button>
				<button class="btn fill" style="background-color: #000;">Nextjs</button>
				<button class="btn fill" style="background-color: #377CC8">TypeScript</button>
				<button class="btn fill" style="background-color: #0F0821;">Astrojs</button>
				<button class="btn fill" style="background-color: #090909;">Git & Github</button>
				<button class="btn fill" style="background-color: #396C94;">PostgreSql</button>
				<button class="btn fill" style="background-color: #C93B08;">Rust</button>
			</section>
			
			<hr />
			<br />
			<!-- Tech Stack Section Start Ends-->
			<br />
			<!--- Project Section Starts -->
			<br />
			<center><h1 class="project-title" style="font-size: 60px color:lightgrey  "  >Project Section</h1></center>
			<br />
			<section class=" ProjectSection">
				<div class="container">
					<div class="wrapper">
					  <div class="banner-image" style="background-image: url(https://wallpapers.com/images/featured/instagram-black-background-zqziwb8f1npobi06.jpg);"> </div>
					  <h1>Instagram Clone</h1>
					  <p>MERN Stack, Material UI</p>
					 </div>
					 <div class="button-wrapper"> 
						<a href="https://github.com/mrayushmehrotra/instagramClone" target="_blank">
							<button class="btn outline">REPO</button>
						</a>
					 </div>
					   </div>
					   <br />
			
			
				<div class="container">
					<div class="wrapper">
					  <div class="banner-image" style="background-image: url(https://miro.medium.com/v2/resize:fit:750/0*RC5tVI9ES-Q2RfkV);"> </div>
					  <h1>Next.js-routing</h1>
					  <p>Used Express,fs module</p>
					 </div>
					 <div class="button-wrapper"> 
						<a href="https://github.com/mrayushmehrotra/nextjs-routing" target="_blank">

							<button class="btn outline">REPO</button>
						</a>
					   <!-- <button class="btn fill">BUY NOW</button> -->
					 </div>
					   </div>
					   <br />


				<div class="container">
					<div class="wrapper">
					  <div class="banner-image" style="background-image:url(https://play-lh.googleusercontent.com/eN0IexSzxpUDMfFtm-OyM-nNs44Y74Q3k51bxAMhTvrTnuA4OGnTi_fodN4cl-XxDQc)"> </div>
					  <h1>Spotify Clone</h1>
					  <p> Next.js, with Supabase and TypeScript</p>
					 </div>
					 <div class="button-wrapper"> 
						<a href="https://github.com/mrayushmehrotra/Nextjs_news_app" target="_blank">

							<button class="btn fill">REPO</button>
						</a>
					 </div>
					   </div>


				<div class="container">
					<div class="wrapper">
					  <div class="banner-image" style="background-image:url(https://cdn5.vectorstock.com/i/1000x1000/91/64/newspaper-icon-on-black-background-flat-vector-26849164.jpg)"> </div>
					  <h1>News</h1>
					  <p> Next.js, with Free News Api</p>
					 </div>
					 <div class="button-wrapper"> 
						<a href="https://newsapp-one-zeta.vercel.app/feed/1" target="_blank">

							<button class="btn outline">LIVE</button>
						</a>
						<a href="https://github.com/mrayushmehrotra/Nextjs_news_app" target="_blank">

							<button class="btn fill">REPO</button>
						</a>
					 </div>
					   </div>
					   <br />

					   <div class="container">
					<div class="wrapper">
					  <div class="banner-image" style="background-image:url(https://logowik.com/content/uploads/images/notion1411.jpg)"> </div>
					  <h1>Notion-AI</h1>
					  <p> Next.js, with OPENAI-API,Clerk Auth </p>
					 </div>
					 <div class="button-wrapper"> 
						
						<a href="https://github.com/mrayushmehrotra/notion-clone" target="_blank">

							<button class="btn fill">REPO</button>
						</a>
					 </div>
					   </div>
			</section>
		<!--- Project Section Starts -->
	</body>
</html>
