.contactMeTitle {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 10%;
  top: -2%;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: rgb(161, 159, 159);
  font-weight: bold;
}

.mainSocialDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.text-contactMe {
  transform: rotate(90deg);
  gap: 2%;
}

.emailSvg:hover {
  animation: socialAnimation 2s ease-in-out;
}

@keyframes socialAnimation {
  0% {
    transform: translateY() rotate(0deg);
  }
  100% {
    transform: translateY(-5px) rotate(360deg);
  }
}

footer {
  display: flex;
  position: absolute;
  bottom: 1px;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
